body {
	background: url(images/bg.png);
	margin: 0;
	font-family: "Helvetica", sans-serif;
	line-height: 1.4em;
}
h1, h2, h3 {
	margin: 0;
}
h1 {
	background: url(images/logo.png) no-repeat;
	height: 100px;
	width:800px;
	padding: 0;
	color: #fff;
}
h3 {
	margin-bottom: 5px;
}
.container {
	width: 800px;
	margin: 0 auto;
}
#recipes {
	padding: 15px;
}
table, tr, td {
	border: 1px solid #ccc;
	border-collapse: collapse;
}
table td {
	padding: 5px;
}
