#header1 {
	width: auto;
	text-align: center;
	border: 3px solid #C00;
	background: gray;
	color: black;
}
#header2 {
	color: black;
	text-align: center;
	background: gray;
	border: 3px solid #03F;
}
body {
	width: auto;
	margin: 20px 5%;
	font-size: 18px;
}
img {
	width: 90%;
}
.pics1 {
	color: #C00;
}
.pics2 {
	color: #03F;
}
.description1 {
	color: #C00;
}
.description2 {
	color: #03F;
	-webkit-transition: all 0s ease 0s;
	-moz-transition: all 0s ease 0s;
	-ms-transition: all 0s ease 0s;
	-o-transition: all 0s ease 0s;
	transition: all 0s ease 0s;
}
.Link:hover {
	color: #090;
}
