aside {
	color: black;
	text-align: center;
	height: 600px;
	clear: right;
}
body {
	width: auto;
	height: auto;
	background: #39F;
	background-repeat: repeat;
	color: #006;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 100%;
}
#electric, #gas, #co-axil, #fixed, #collective {
	padding-left: 50px;
	text-wrap: none;
	font-size: 14px;
}
footer {
	border: 2px solid;
	padding: 5px;
	color: black;
	background-color: #999;
	clear: both;
	text-align: left;
}
h1 {
	padding-top: 40px;
}
h1, h2, h3, h4 {
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	color: black;
}
header {
	width:100%;
	background-color: #C00;
	height: 125px;
}
img {
	border: 2px solid;
}
ol {
	Padding-left: 30px;
}
ul {
	padding: 0;
	margin: 0;
}
.brands {
	text-align: center;
	color: black;
}
.content {
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	color: #000;
	text-wrap: none;
	clear: left;
}
.pictures {
	display: block;
	width: auto;
}
.sidebar1 {
	float: right;
	width: 180px;
	height: 600px;
	background-color: #C00;
	padding-bottom: 10px;
}
.tools {
	padding-top:10px;
	padding-left: 22%;
	width: auto;
}
.videos {
	padding-left: 215px;
}
ul.nav {
	list-style: none;
	border-top: 1px solid white;
	margin-bottom: 15px;
}
ul.nav li {
	border-bottom: 1px solid white;
}
ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	width: 160px;
	text-decoration: none;
	background-color: #C00;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color: #006;
	color: #FFF;
}
ul.nav a.active {
	background: #fff;
	font-weight: bold;
	color: black;
}
a:link {
	color: black;
}
a:visited {
	color: #CF0;
	text-decoration: underline;
}
 @media (max-width: 320px) {
aside {
	width: 100%;
	height: auto;
	float: right;
}
body {
	width: 100%;
}
footer {
	width: 100%;
	clear: both;
}
h1, h2, h3, h4 {
	width: 100%;
}
header {
	width: 100%;
}
.content {
	width: 100%;
	margin: 0;
	clear: left;
}
.sidebar1 {
	width: 100%;
	height: auto;
	float: right;
}
