body {
	background-color: white;
	color: #006;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.4;
}
h1, h2 {
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	color: #006;
}
section, footer, aside, article, figure {
	display: block;
}
img {
	border: 2px solid;
}
.content {
	padding-left: 10px;
	padding-right: 10px;
}
.tools {
	padding-left: 22%;
	width: auto;
}
header {
	background-color: #C00;
}
.sidebar1 {
	float: right;
	width: 180px;
	height: 600px;
	background-color: #C00;
	padding-bottom: 10px;
}
ul, dl {
	padding: 0;
	margin: 0;
}

ol {
	Padding-left: 20px;
}

ul.nav {
	list-style: none;
	border-top: 1px solid white;
	margin-bottom: 15px;
}
ul.nav li {
	border-bottom: 1px solid white;
}
ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
	width: 160px;
	text-decoration: none;
	background-color: #C00;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color: #006;
	color: #FFF;
}
ul.nav a.active {
	background: #fff;
	font-weight: bold;
	color: red;
}
a:link {
	color: #006;
}
a:visited {
	color: blue;
	text-decoration: underline;
}
footer {
	padding: 10px;
	background-color: #999;
	position: relative;
	clear: both;
	text-align: left;
}
