h1 {
	font-family: Helvetica;
	color: white;
	background-color: green;
}
h2 {
	font-family: Helvetica;
}
h3 {
	font-family: Helvetica;
}
body {
	font-family: Comic Sans MS, Helvetica, cursive
}
li {
	font-size: 14px;
	color: black;
}
pre {
	text-align: center;
	font-family: helvetica;
	font-size: 14px;
}
