h1 {
	font-family: Helvetica, "Times New Roman", Times, serif;
	color: white;
	background-color: #03C;
}
h2, h3 {
	font-family: Helvetica, "Times New Roman", Times, serif;
}
body {
	margin: 10px;
	font-family: Comic Sans MS, Helvetica, cursive;
	width: 1550px;
	height: 100px;
}
li {
	font-size: 14px;
	color: black;
}
ul.one {
	background-color: #3F6;
	width: auto;
}
#nav {
	margin: 20px;
	padding: 0;
	list-style: none;
}
#nav li {
	margin: 1.5px;
	width: 3.85in;
	text-align: center;
	float: left;
	border: 2px solid;
}
